// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-darkgrey1: #292929;
$color-darkgrey2: #1a1820;
$color-midgrey: #313131;
$color-lightgrey1: #e8e8e8;
$color-lightgrey2: #dddddd;
$color-green1: #00C939;
$color-green2: #6ba253; 
$color-green3: #509134;
$color-orange: #FFB500;

$color-accent: $color-orange;
$color-text: $color-darkgrey2;
$color-link: $color-green2;
$color-button: $color-orange;

// TYPOGRAPHY
$fontsize: 15px;
$lineheight: 24px;
$mainfont: 'Proxima Nova', sans-serif;
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family